<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=divice-width, initial-scale=1, shrink-to-fit=no">
	<title>ADC Way Farer</title>
	<link rel="stylesheet" type="text/css" href="assets/assets/css/main.css">
</head>
<body>
	<!-- The Whole Site wrapper  -->
	<div class="wrapper grid">
		<!-- The Whole Site content container -->
		<div class="container grid">
			<!-- header division -->
			<div class="header grid">
				<div class="logo">
					<img src="assets/assets/img/Airports.png" alt="ADC">
				</div>
				<div class="center-header"><h1>Way Fayer</h1></div>
				<div class="right-header">
					<ul class="">
				      <li class="">
				         <a class="" href="#" id="userDropdown">
					         <img alt="Avatar" src="assets/assets/img/login_user.png">
					          <span>Felix KAMANA</span>
				         </a>
				         <div class="dropdown" id="dropdown" >
				            <a class="" href="accountinfo"><i class="user-circle"></i> &nbsp; My Account</a>
				            <!-- <a class="" href="#"><i class="confi"></i> &nbsp; Settings</a> -->
				            <div class="divider"></div>
				            <a class="logout" href="index" ><i class="sign-out-alt"></i> &nbsp; Logout</a>
				         </div>
				      </li>
				   </ul>
				</div>
			</div>
			<!-- End of header division -->
			<!-- 90% of the remaining  -->
			<div class="below-header grid">
				<!-- Left navigation section div -->
				<div class="left-nav grid">
					<ul>
						<li><img src="assets/assets/img/xP4Fo76sWyevaJu.png"></li>
						<li class="toggle-left_" id="userDropdown">
							<a href="home"><img src="assets/assets/img/dashboard-icon.png" class="left-icon"> <span>Dashboard</span></a>
						</li>
						<li class="toggle-left toggle-left_">
							<a href="#"><img src="assets/assets/img/car.png" class="left-icon"> <span>Trips</span></a>
							<div class="dropdown-left">
								<a href="alltrips">Show All Trips</a>
								<a href="createtrips">Create A Trip</a>
								<a href="canceltrips">Canceled Trips</a>
								<a href="booking">Book A Trip</a>
								<a href="allbooking">Show All Bookings</a>
							</div>
						</li>
						<li class="toggle-left_"></li>
						<li class="toggle-left_"></li>
						<li class="toggle-left_"></li>
					</ul>
				</div>
				<!-- End of left navigation div -->
				<!-- Site middle content container -->
				<div class="content grid">
					<div class="content-content grid">
						<!-- Top boxes Section-->
						<div class="top-boxes grid">
							<div class="box1">
								<div class="title">
									<div>4 All Booking(s)</div>
									<div>icon</div>
								</div>
								<a href="allbooking" class="grid">
									<span>View Details</span>
									<span class="end-icons"><img src="assets/assets/img/next1.png"></span>
								</a>
							</div>
							<div class="box2">
								<div class="title">
									<div>4 Upcoming Booking(s)</div>
									<div>icon</div>
								</div>
								<a href="allbooking" class="grid">
									<span>View Details</span>
									<span class="end-icons"><img src="assets/assets/img/next1.png"></span>
								</a>
							</div>
							<div class="box3">
								<div class="title">
									<div>4 Confirmed Booking(s)</div>
									<div>icon</div>
								</div>
								<a href="allbooking" class="grid">
									<span>View Details</span>
									<span class="end-icons"><img src="assets/assets/img/next1.png"></span>
								</a>
							</div>
							<div class="box4">
								<div class="title">
									<div>4 Canceled Booking(s)</div>
									<div>icon</div>
								</div>
								<a href="allbooking" class="grid">
									<span>View Details</span>
									<span class="end-icons"><img src="assets/assets/img/next1.png"></span>
								</a>
							</div>
						</div>
						<!-- End of Top boxes Section-->
						<!-- Below Top Boxes Section-->
						<div class="below-boxes grid">
							<p>Bellow is a list of all the canceled trips with status</p>
							<p><span> Please Click on a trip to see more details</span></p>
							<div>
								<table>
								  <tr>
								    <th class='display-none'>Names</th>
								    <th>Date</th>
								    <th>Destination</th>
								    <th>Status</th>
								    <!-- <th>Choose Action</th> -->
								  </tr>
								  <tr>
								    <td class='display-none'>Trip Name 1</td>
								    <td>2019-07-05</td>
								    <td>Huye</td>
								    <td>Canceled</td>
								    <!-- <td>
								    	<select>
								    		<option>Take Action</option>
									    	<option>Cancel</option>
									    	<option>Put On Hold</option>
									    	<option>Delay</option>
								    	</select>
								    </td> -->
								  </tr>
								  <tr>
								    <td class='display-none'>Trip Name 2</td>
								    <td>2019-07-08</td>
								    <td>Musanze</td>
								    <td>Canceled</td>
								    <!-- <td>
								    	<select>
								    		<option>Take Action</option>
									    	<option>Cancel</option>
									    	<option>Put On Hold</option>
									    	<option>Delay</option>
								    	</select> -->
								    </td>
								  </tr>
								  <tr>
								    <td class='display-none'>Trip Name 3</td>
								    <td>2019-08-30</td>
								    <td>Kinshasa</td>
								    <td>Canceled</td>
								    <!-- <td>
								    	<select>
								    		<option>Take Action</option>
									    	<option>Cancel</option>
									    	<option>Put On Hold</option>
									    	<option>Delay</option>
								    	</select>
								    </td> -->
								  </tr>
								  <tr>
								    <td class='display-none'>Trip Name 4</td>
								    <td>2019-12-17</td>
								    <td>Bujumbura</td>
								    <td>Canceled</td>
								    <!-- <td>
								    	<select>
								    		<option>Take Action</option>
									    	<option>Cancel</option>
									    	<option>Put On Hold</option>
									    	<option>Delay</option>
								    	</select>
								    </td>
								  </tr> -->
								</table>
							</div>
						</div>
						<!-- End Of Below Top Boxes Section-->
					</div>
					<!-- site Footer division section-->
					<div class="footer">
						<p class="">
	                      <strong> &copy; <span class="footer-date"></span> </strong> | This application is made by<strong class="text-dark"> K.Felix </strong> as ADC project. 
	                    </p>
					</div>
					<!-- End of site footer division -->
				</div>
				<!-- End of middle site content container -->
			</div>
			<!-- End of 90% of the remaining -->
		</div>
	</div>
	<script type="text/javascript" src="assets/assets/js/scripts.js"></script>
</body>
</html>