html{
	height: 100%;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
}
body{
	line-height: 1.7;
 	color: #888;
 	font-weight: 600;
 	margin: 0px auto;
 	background-color: #2d2222;
    font-size: 13px;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
div{
/* 	display: grid; */
}
.wrapper {
	background-color: #eee;
	margin:  auto;
	height: 100%;
	width: 100%;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
}
.container {
	/*grid-template-rows: 50px 400px;*/
	/*grid-template-columns: 1fr;*/
	grid-gap: .5%;
	grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
}
.header {
	grid-template-columns: 10% 70% 20%;
	grid-template-rows: 100% ;
	background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 1px 5px 10px 2px #dbd8d8;;
}
.center-header {
	text-align: center;
	padding: 0% 5%;
}

.below-header {
	grid-template-columns: 16% 84%;
	grid-template-rows: 100%; 
}
.left-nav {
	font-size: 14px;
	font-weight: 600;
	grid-column-start: 1;
	grid-column-end: 1;
	background: linear-gradient(135deg, #ff516b 0%,#826cfd 100%);
    z-index: 9;
    padding: 2px 0;
    color: rgba(255, 255, 255, 0.75);
}
.content {
	grid-template-rows: 90% 10%;
}
.content-content {
    background-color: #fff;
	padding: 2%;
	grid-template-columns: 100%;
	grid-template-rows: 25% 70%;
    grid-gap: 5%;
}
.footer {
	background-color: #e9ecef;
    padding: 15px;
    text-align: center;
}
.grid{
	display: grid;
}
#userDropdown {
	display: inline-flex;
}
.right-header {
	text-align: center;
	padding-top: 5%;
}

.right-header ul li:hover .dropdown{
	display: grid;
}
.divider {
	border-top: 1px solid #eff2f3;
	height: 0;
    margin: .5rem 0;
    overflow: hidden;
}
#dropdown, .dropdown-left{

	position: relative;
	background-color: #fff;
	box-shadow: 6px 5px 16px 3px rgba(0,0,0,0.2);
    border-radius: 2px;
    margin: 0;
    border-color: #eff2f3;
    font-size: 14px;
    font-weight: 600;
    padding: 5%;
}
.dropdown, .dropdown-left {
	display: none;
}
.dropdown-left a {
	color: #57595af0 !important;
	font-size: 14px;
	font-weight: 600;
}

.right-header ul {
	display: inline-grid;
	float: right;
	padding-right: 2%;
	padding-top: 4%;
    margin-top: 0px;
}
.right-header ul li {
	text-decoration: none;
	list-style: none;
}
.right-header ul li a img{
    height: 30px;
    padding-right: 5px;
}
.right-header ul li a {
	list-style: none;
    text-decoration: none;
    color: #888;
}
.right-header ul li span{
    padding-top: 5%;
    padding-bottom: 2%;
}
.toggle-left a::after {
	content: '◄►';
    float: right;
    padding-left: 10%;
    padding-top: 10%;
}
.toggle-left div a:hover{
	background-color: #765c797a;
	color: #fff;
}
.left-icon{
	height: 30px;
    display: inline-grid;
    padding: 5% 2%;
}
.left-icon-last{
	height: 15px;
    display: inline-grid;
    padding: 5% 2%;
}
.left-nav ul li a{
	text-decoration: none;
	list-style: none;
	color: white;
	display: inline-flex;
}
.left-nav ul li a span{
	padding: 12% 0% 2% 10%;
}
.left-nav ul li:hover {
	/*display: grid;*/
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.left-nav ul {
	margin: 5% 1%;
    padding: 5% 1%;
}
.left-nav ul li{
    padding: 2%;
    width: 100%;
    text-align: left;
}
.active{
	display: grid;
	background-color: rgba(255, 255, 255, 0.36);
}
.logo {
	text-align: center;
}

.logo img{
	height: auto;
	height: -moz-available;
	padding: 5% 20%;
}
.left-nav ul li img{
	width: inherit;
}
.container-login{
	grid-template-columns: 100%;
	grid-template-rows: 100%;

}
.login-content {
	grid-template-rows: 10% 25% 60% 5%;
    padding: 2%;
}
.login-head {
	padding: 2%;
}
.login-head div img{
	width: 80px;
}
.login-body {
	padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}
.login-body div{
	padding-left: 10%;
    padding-right: 10%;
}
.grid-login-body{
	/*grid-template-rows: 55% 15%;*/
	grid-row-gap: 2px
}
.login-body div span a{
    text-decoration-color: #fa5b6a;
    color: #fa5b6a;
}
.login-body div div img{
	width: 80px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5;}
.sign-in tr:hover{background-color: rgba(255, 255, 255, 0);}
.sign-in tr td, .sign-in tr th{border-bottom: 0px solid #ddd;}
::-ms-scrollbar{
	border-radius: 4px;
	width: 8px;
}
.button{

}
.sign-in-button{
	background-color: transparent;
    text-align: center;
    border-radius: 5px;
    padding: 10px 35px;
    border: 1px #ff253aba solid;
    box-shadow: 2px 2px 1px 1px #0000001c;
}
.sign-in-button:hover {
	color: #fff;
	background: #ff516b;
	background: -moz-linear-gradient(-45deg, #ff516b 0%, #826cfd 100%);
	background: -webkit-linear-gradient(-45deg, #ff516b 0%,#826cfd 100%);
	background: linear-gradient(135deg, #ff516b 0%,#826cfd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff516b', endColorstr='#826cfd',GradientType=1 );
	box-shadow: 2px 2px 1px 1px #ff516b38;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-dark{
	color: #2d2222;
}
input, select{
	padding: 2.5%;
	width: 80%;
}
::-ms-thumb{
	border-radius: 4px;
	width: 8px;
}
::-moz-progress-bar{
	border-radius: 4px;
	width: 8px;
}
::-moz-progress-bar:hover{
	background: #ff516b;
	background: -moz-linear-gradient(-45deg, #ff516b 0%, #826cfd 100%);
	background: -webkit-linear-gradient(-45deg, #ff516b 0%,#826cfd 100%);
	background: linear-gradient(135deg, #ff516b 0%,#826cfd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff516b', endColorstr='#826cfd',GradientType=1 );
	border-radius: 4px;
}
::-ms-thumb:hover{
	background: #ff516b;
	background: -moz-linear-gradient(-45deg, #ff516b 0%, #826cfd 100%);
	background: -webkit-linear-gradient(-45deg, #ff516b 0%,#826cfd 100%);
	background: linear-gradient(135deg, #ff516b 0%,#826cfd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff516b', endColorstr='#826cfd',GradientType=1 );
	border-radius: 4px;
}
::-webkit-scrollbar {
	/*background: red;*/
	border-radius: 4px;
	height: 8px;
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: #ff516b;
	background: -moz-linear-gradient(-45deg, #ff516b 0%, #826cfd 100%);
	background: -webkit-linear-gradient(-45deg, #ff516b 0%,#826cfd 100%);
	background: linear-gradient(135deg, #ff516b 0%,#826cfd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff516b', endColorstr='#826cfd',GradientType=1 );
	border-radius: 4px;
	/*display: none;*/
}
::-webkit-scrollbar-thumb:hover {
    background: #ff516b;
    background: -moz-linear-gradient(-45deg, #ff516b 0%, #826cfd 100%);
    background: -webkit-linear-gradient(-45deg, #ff516b 0%,#826cfd 100%);
    background: linear-gradient(135deg, #ff516b 0%,#826cfd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff516b', endColorstr='#826cfd',GradientType=1 );
    padding-right: 20px;
    border-radius: 4px;
    display: block;
    transition: visibility 0s, opacity 0.5s linear;
}
.top-boxes{
	grid-template-columns: 25% 25% 25% 25%;
	/*background-color: #ffd;*/
}
.top-boxes div{
	padding: 5% 0% 5% 1%;
	margin-right: 10%;
	color: white;
	line-height: 20px;
	overflow-wrap: unset;
	text-size-adjust:100%;
	font-family: sans-serif;
	font-weight: 400;
}
.top-boxes div div{
	display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 2%;
}
.top-boxes div a {
	cursor: pointer;
	color: white;
	text-decoration: none;
	/*padding-top: 10%;*/
	font-size: 12px;
	font-weight: 200;
    font-stretch: extra-condensed;
    grid-template-columns: 80% 20%;    
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.end-icons{
	text-align: end;
}
.end-icons img{
	height: 7px;
}
.top-boxes div a span{
	padding-left: 5%;
}
.box1, .box2, .box3, .box4{
	display: grid;
    border-radius: 5px;
    grid-template-rows: 80% 20%;
    box-shadow: 2px 3px 7px 5px rgba(160, 157, 157, 0.5);
}
.box1{
	border-color: transparent !important;
    background: #ff516b;
    background: -moz-linear-gradient(-45deg, #ff516b 0%, #826cfd 100%);
    background: -webkit-linear-gradient(-45deg, #ff516b 0%,#826cfd 100%);
    background: linear-gradient(135deg, #ff516b 0%,#826cfd 100%);
}
.box2{
	border-color: transparent !important;
    background: #ffc107;
    background: -moz-linear-gradient(-45deg, #ffc107 1%, #fffc07 100%);
    background: -webkit-linear-gradient(-45deg, #ffc107 1%,#fffc07 100%);
    background: linear-gradient(135deg, #ffc107 1%,#fffc07 100%);
}
.box3{
	border-color: transparent !important;
    background: #4eda92;
    background: -moz-linear-gradient(-45deg, #4eda92 1%, #56e0cb 100%);
    background: -webkit-linear-gradient(-45deg, #4eda92 1%,#56e0cb 100%);
    background: linear-gradient(135deg, #4eda92 1%,#56e0cb 100%);
}
.box4{
    border-color: transparent !important;
    background: #ff253a;
    background: -moz-linear-gradient(-45deg, #ff253a 0%, #ff8453 100%);
    background: -webkit-linear-gradient(-45deg, #ff253a 0%,#ff8453 100%);
    background: linear-gradient(135deg, #ff253a 0%,#ff8453 100%);
}
.title-icon img{
	width: 60px;
	opacity: .2;
}
.below-boxes{
    grid-template-rows: 10% 10%;
}
div.home-below-top-boxes{
	grid-template-columns: 30% 30% 30%;
	/*grid-template-rows: 40% auto;*/
	/*grid-row-gap: auto;*/
	grid-column-gap: 3%;
}
div.below-boxes.grid p{
	text-align: center;
	text-size-adjust: 100%;
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 100;
    font-style: italic;
}
div.below-boxes.grid p span{
	font-size: 14px;
}
@media only screen and (max-device-width: 319px) {
	.display-none{
		display: none;
	}
    .right-header ul li span {
	    display: none;
	}
	.right-header ul li a img {
	    height: 30px;
	    padding-right: 100%;
	}
	.right-header ul li a {
		list-style: none;
	    text-decoration: none;
	    color: #888;
		padding: 0% 10% 0% 0%;
	}
	.right-header ul {
		display: inline-grid;
		float: right;
		padding-right: 20%;
		padding-top: 4%;
	    margin-top: auto;
	}
	.header {
		grid-template-columns: 15% 60% 25%;
	}
	.right-header {
		padding-top: 20%;
	}
	.logo {
		padding-top: 10%;
	}
	.right-header ul li:hover .dropdown{
		display: table-caption;;
		position: relative;
		z-index: 100px;
	}
	.below-header {
		grid-template-columns: 35% 65%;
	}
	.left-nav {
	}
	.content-content {
	    display: block !important;
	    position: relative;
	}
	.top-boxes {
		display: inherit;
	}
	.top-boxes div {
		padding: 2% 0% 5% 1%;
		color: white;
		line-height: 15px;
		/*text-size-adjust:100%;*/
		font-family: sans-serif;
		font-weight: 400;
		line-height: 15px;
		overflow-inline: scroll;
		overflow-wrap: anywhere;
	}
	.top-boxes div div {
		grid-template-columns: 80% 20%;
		grid-template-columns: auto auto;
	}
	.box1, .box2, .box3, .box4 {
		display: grid;
	    border-radius: 5px;
	    box-shadow: 2px 3px 7px 5px rgba(160, 157, 157, 0.5);
	    padding-bottom: 5px !important;
	    margin-bottom: 5%;
	}
	.left-nav ul li img {
		width: 10px;
	}
	.login-body, .grid.login-body{
		padding: 0px !important;

	}
}
/* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
	.display-none{
		display: none;
	}
    .right-header ul li span {
	    display: none;
	}
	.right-header ul li a img {
	    height: 30px;
	    padding-right: 100%;
	}
	.right-header ul li a {
		list-style: none;
	    text-decoration: none;
	    color: #888;
		padding: 0% 10% 0% 0%;
	}
	.right-header ul {
		display: inline-grid;
		float: left;
		padding-right: 2%;
		padding-top: 4%;
	    margin-top: auto;
	}
	.header {
		grid-template-columns: 15% 60% 25%;
	}
	.right-header {
		padding-top: 20%;
	}
	.logo {
		padding-top: 10%;
	}
	.right-header ul li:hover .dropdown{
		display: grid;
		position: relative;
		z-index: 100px;
	}
	.below-header {
		/*grid-template-columns: 20% 80%;*/
	}
	.left-nav {
	}
	.content-content {
	    display: block !important;
	    position: relative;
	}
	.top-boxes {
		display: inherit;
	}
	.top-boxes div {
		padding: 2% 0% 5% 1%;
		color: white;
		line-height: 15px;
		/*text-size-adjust:100%;*/
		font-family: sans-serif;
		font-weight: 400;
		line-height: 15px;
		overflow-inline: scroll;
		overflow-wrap: anywhere;
	}
	.top-boxes div div {
		grid-template-columns: 80% 20%;
		grid-template-columns: auto auto;
	}
	.box1, .box2, .box3, .box4 {
		display: grid;
	    border-radius: 5px;
	    box-shadow: 2px 3px 7px 5px rgba(160, 157, 157, 0.5);
	    padding-bottom: 5px !important;
	    margin-bottom: 5%;
	}
	.left-nav ul li img {
		/*width: 50%;*/
	}
	.login-body, .grid.login-body{
		padding: 0px !important;
	}
	.left-nav ul li a span {
	    display: none;
	}
	toggle-left a::after {
	    content: '◄►';
	    float: right;
	    padding-top: 10%;
	}
	.wrapper{
		width: fit-content;
		height: 100%;
	}

}
/* iPhone 6, 6S, 7, 8, and X */
@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
	.display-none{
		display: none;
	}
    .right-header ul li span {
	    display: none;
	}
	.right-header ul li a img {
	    height: 30px;
	    padding-right: 100%;
	}
	.right-header ul li a {
		list-style: none;
	    text-decoration: none;
	    color: #888;
		padding: 0% 10% 0% 0%;
	}
	.right-header ul {
		display: inline-grid;
		float: left;
		padding-right: 2%;
		padding-top: 4%;
	    margin-top: auto;
	}
	.header {
		grid-template-columns: 15% 60% 25%;
	}
	.right-header {
		padding-top: 20%;
	}
	.logo {
		padding-top: 10%;
	}
	.right-header ul li:hover .dropdown{
		display: grid;
		position: relative;
		z-index: 100px;
	}
	.below-header {
		/*grid-template-columns: 20% 80%;*/
	}
	.left-nav {
	}
	.content-content {
	    display: block !important;
	    position: relative;
	}
	.top-boxes {
		display: inherit;
	}
	.top-boxes div {
		padding: 2% 0% 5% 1%;
		color: white;
		line-height: 15px;
		/*text-size-adjust:100%;*/
		font-family: sans-serif;
		font-weight: 400;
		line-height: 15px;
		overflow-inline: scroll;
		overflow-wrap: anywhere;
	}
	.top-boxes div div {
		grid-template-columns: 80% 20%;
		grid-template-columns: auto auto;
	}
	.box1, .box2, .box3, .box4 {
		display: grid;
	    border-radius: 5px;
	    box-shadow: 2px 3px 7px 5px rgba(160, 157, 157, 0.5);
	    padding-bottom: 5px !important;
	    margin-bottom: 5%;
	}
	.left-nav ul li img {
		/*width: 50%;*/
	}
	.login-body, .grid.login-body{
		padding: 0px;
	}
	.login-content {
	    grid-template-rows: 10% 15% 30% 10%;
	}
	.left-nav ul li a span {
	    display: none;
	}
}
/* iPhone 6+, 7+, and 8+ */
@media only screen and (min-device-width: 414px)  and (max-device-width: 475px){
    .right-header ul li span {
	    display: none;
	}
	.right-header ul li a img {
	    height: 30px;
	    padding-right: 100%;
	}
	.right-header ul li a {
		list-style: none;
	    text-decoration: none;
	    color: #888;
		padding: 0% 10% 0% 0%;
	}
	.right-header ul {
		display: inline-grid;
		float: left;
		padding-right: 2%;
		padding-top: 4%;
	    margin-top: auto;
	}
	.header {
		grid-template-columns: 15% 60% 25%;
	}
	.right-header {
		padding-top: 20%;
	}
	.logo {
		padding-top: 10%;
	}
	.right-header ul li:hover .dropdown{
		display: grid;
		position: relative;
		z-index: 100px;
	}
	.below-header {
		/*grid-template-columns: 20% 80%;*/
	}
	.left-nav {
	}
	.content-content {
	    display: block !important;
	    position: relative;
	}
	.top-boxes {
		display: inherit;
	}
	.top-boxes div {
		padding: 2% 0% 5% 1%;
		color: white;
		line-height: 15px;
		/*text-size-adjust:100%;*/
		font-family: sans-serif;
		font-weight: 400;
		line-height: 15px;
		overflow-inline: scroll;
		overflow-wrap: anywhere;
	}
	.top-boxes div div {
		grid-template-columns: 80% 20%;
		grid-template-columns: auto auto;
	}
	.box1, .box2, .box3, .box4 {
		display: grid;
	    border-radius: 5px;
	    box-shadow: 2px 3px 7px 5px rgba(160, 157, 157, 0.5);
	    padding-bottom: 5px !important;
	    margin-bottom: 5%;
	}
	.left-nav ul li img {
		/*width: 50%;*/
	}
	.login-body, .grid.login-body{
		padding: 0px !important;
	}
	.left-nav ul li a span {
	    display: none;
	}
}
@media only screen and (min-device-width: 475px) and (max-device-width: 499px){
	.below-header{
		grid-template-columns: 25% 75%;
	}
	.top-boxes{
		grid-template-columns: 50% 50%;
		grid-row-gap: inherit;
	}
	.content-content{
		grid-template-rows: 35% 65%;
	}
}
@media only screen and (min-device-width: 500px) and (max-device-width: 735px){
	.below-header {
		grid-template-columns: 25% 75%;
	}
	.top-boxes {
		grid-template-columns: 50% 50%;
		row-gap: inherit;
	}
	.content-content {
		grid-template-rows: 35% 65%;
	}
	.login-body, .grid.login-body{
		padding: 0px !important;
	}
}
@media screen and (max-width: 500px) {
	.footer{
		padding: 0px;
	}
	.login-body, .grid.login-body{
		padding: 0px !important;
	}

}
